
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    color: #333;
    font-family: 'Merriweather', Helvetica, Arial, sans-serif;
    font-size: 12pt;
    min-height: 100%;
}
#main {
    height: 100%;
}

.ui-btn--primary:before {
    /*
    border-radius: 5px;
    bottom: 0;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    */
    content: " ";
    /*
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    */
}
.ui-stream-item--sub:before {
    /*
    background: #eee;
    bottom: 0;
    */
    content: " ";
    /*
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    */
}

.theme--compact {
    font-size: 10pt;
}
.theme--compact .btn {
    padding: 2px 5px 4px 5px;
}
.theme--compact .btn--menu {
    font-size: 12pt;
    height: 22px;
    width: 22px;
}
.theme--compact .menu-entry {
    line-height: 30px;
}
.theme--compact .menu-entry__icon {
    min-width: 30px
}
.theme--compact .main-content {
    height: calc(100vh - 30px);
}
.theme--compact .tool-panel {
    width: 30px;
}
.theme--compact .tool-panel__item {
    font-size: 10pt;
}
.theme--compact .tool-panel__menu--floating {
    left: 30px;
}
.theme--compact .panel-menu {
    line-height: 30px;
}
.theme--compact .panel-menu__search {
    height: 30px;
}
.theme--compact .panel-menu__menu {
    font-size: 12pt;
    line-height: 30px;
    width: 30px;
}
.theme--compact .stream-item {
    line-height: 30px;
}
.theme--compact .stream-item__icon {
    min-width: 30px;
}
